.container{
    display: flex;
    flex-wrap: wrap;
    background-color: blueviolet;
    /* justify-content: space-around; */
}

.container>div{
    background-color: aquamarine;
    width:130px;
    height:130px;
    margin:10px;
    text-align: center;
}